*,
*::after,
*::before {
  box-sizing: border-box;
}

/* Reset */
body,
h1,
h2,
h3,
p,
hr {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  font-family: "Segoe UI", Arial;
}

#root {
  display: flex;
  height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}

.filtros {
  margin: 1rem 0;
  padding: 1rem 0;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}