/*
  Folha de estilos GLOBAL

  Será usada por elementos em todos os conponentes
  da aplicação React.
 */

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", "Arial", serif;
}

/* Bloco/Box */
.sombra {
  box-shadow: 0 0 10px red;
  background-color: #fff;
}

.destaque-texto {
  background-color: yellow;
  padding: 4px;
  border-radius: 4px;
}

.centralizar {
  text-align: center;
}