/*
  Folha de estilos GLOBAL

  Será usada por elementos em todos os conponentes
  da aplicação React.
 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;

  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #6831c0;
  align-items: center;
  padding: 10px;
}

h1 {
  color: #fff;
}

main {
  flex: 1;
}

.espacamento {
  padding: 0 2rem;
}